API_ID="20536459"
API_HASH=c1c01c363ed3dcd6017d89d5938afb6f
BOT_TOKEN=7836596730:AAE7uIjD7a6WRaJr0DT-sbq-4tv-fvahOHY
MONGO_DB_URI=mongodb+srv://yadav99990hsjab:yadav99990hsjab@cluster0.78loh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=--1002221413133
OWNER_ID=7538572906
STRING_SESSION=BQE5XIsAL2jHYTN-arawZfVWWP6-b4_zkrn0qyHS_0GhXw0xTrFDnP6E2vS-zOMkWllB9SBF56u7_qArBHvP0ItAGSUMDFDUotdsLd1rr2w5FVzE8UW6Lcu0PYTH1aXa5T6tpOM9h8xNJxrk39DeZYva3WmgJ_YJrO901yoWdU7SVmqBDttP6kvTtZiOulmLooIarPUhSHDR9ZKOuPTgNU0IG2vOg8dV-Ja0XpcJgVFyjKbrDBAmu8u70td3kVzjmU9Vwh69sPIH0j9WPcxftmtdQqQRy-mSb67iymFYjGvKaYgSPCYuozwfmShfEobpE8BxL-qt9T4O2G1170ROjzb3hCOT5AAAAAHIpVldAA
